ASEN_6080/HW1/figures/*

ASEN_6080/HW2/figures/simulated_measurements.html
ASEN_6080/HW2/figures/j3_j2_measurement_differences.html
ASEN_6080/HW2/figures/j3_j2_position_differences.html
ASEN_6080/HW2/figures/j3_j2_velocity_differences.html
ASEN_6080/HW2/figures/batch_lls_results/*
ASEN_6080/HW2/figures/lkf_results/*
ASEN_6080/HW2/figures/ekf_results/*
ASEN_6080/HW2/figures/pngs/*

ASEN_6080/HW3/figures/*

ASEN_6080/HW4/figures/*

ASEN_6080/HW5/figures/*

ASEN_6080/HW6/figures/*

ASEN_6080/HW7/figures/*

ASEN_6080/HW8/figures/*

ASEN_6080/Project1/figures/*

ASEN_6080/Project2/figures/*
ASEN_6080/Project2/part_3_figures/*

!ASEN_6080/HW1/figures/.gitkeep

!ASEN_6080/HW2/figures/.gitkeep
!ASEN_6080/HW1/figures/pngs/.gitkeep
!ASEN_6080/HW2/figures/batch_lls_results/.gitkeep
!ASEN_6080/HW2/figures/lkf_results/.gitkeep
!ASEN_6080/HW2/figures/ekf_results/.gitkeep
!ASEN_6080/HW2/figures/pngs/.gitkeep

!ASEN_6080/Project1/figures/.gitkeep

ASEN_5010/Final_Project/coursera_validation_files/*

__pycache__/
Tools\__pycache__/
*.py[cod]
*$py.class